.productDetailContainer {
    margin-top:2rem ;
    width: 100vw;
}

.productDetailInnerContainer {
    display: flex;
    justify-content: space-evenly;
    width:80%;
    margin: 0 auto;
}
.productDetailInnerContainer img{
    width:30%;
    height:500px;
}
.productDetails{
    font-size: 2rem;
    width:50%;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.productDetails button{
    width: 150px;
    height:50px;
    font-size:2rem;
}
.productDetails button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.detailsContainer{
    height:500px
}
.relatedTitle{
    margin-left: 20vw;
    font-size:3rem;
}