.cartContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.cartItems {
    padding: 20px 20vw;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
}

.cartItems .cartItemsRow {
    margin-bottom: 2rem;
}

.cartItemsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cartImg {}

.cartImg img {
    width: 100px;
    height: 100px;
}

.cartTotal {
    display: flex;
    flex-direction: column;
}
.emptyCart{
    margin-left: 50%;
    margin-top: 30vh;
    font-size:2.5rem;
}
.emptyCart a{
    font-size:3rem;
    padding-left: 70px;
}