*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'coco gothic regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/coco-gothic.regular.ttf') format('tff');
}